body{
    font-family: fantasy;
    background-color: #000;
    color: #fff;
}
.page-content{
    width: 1200px;
    margin: 10px auto;
}
header{
    background-color: #888;
    padding: 10px;
}
header div{
    text-align: right;
    font-size: 80px;
}
.columns{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-between;
}
.column{
    background-color: #999;
    display: inline-block;
    width: 40%;
    margin: 5px auto;
    font-size: 25px;

}
.parralax p{
padding-top: 200px;
    height: 500px;
    width: 100%;
    font-size: 100px;
    font-family: cursive;
    text-align: center;
}
    .parralax{
    height: 500px;
    width: 1200px;
    background-image: url("http://static.prsa.pl/images/971936a5-1323-4669-baf1-52eaf2341a24.jpg");
    background-attachment: fixed;

}
footer{
    margin: 10px;
    text-align: center;
    padding: 20px;
    background-color: #888;

}
.cookies-bar
{
    font-size: 13px;
    font-family: Verdana;
    position: fixed;
    bottom: 0;
    border-top-style: solid;
    border-top-color: lightcoral;
    border-width: 1px;
    width: 100%;
}

.cookies-bar__content
{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 60px;
    margin: 0 auto;
    box-sizing: border-box;
}

.cookies-bar__img
{
    height: 60px;
    width: 60px;
}

.cookie-bar__p
{
    margin: auto 0;
}
